<h1>編輯事項</h1>
<h1> </h1>
<h1> </h1>


<%#= render :partial => "form" ,  :read_only => false , :a => false %>

<%#= render :partial => "form" ,  locals: {zone: false} %>
<%#= render :partial => "form" ,  :zone => false} %>
<%#= render :partial => "form" ,  locals: {onlyread: false} %>
<%= render :partial => "form" ,  locals: {onlyread: false} %>


