// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index_title{
 font-size: 30px;
 padding: 8px;
 display: inline-block; 
}

#new_item{
  padding: 15px;
  float: right; 
}